<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
    <body>
        <h1>Users:</h1> <br/>
        #foreach($user in $users)
        	$user.name <br/>
        #end
    </body>
</html>
